# Data Science Tools and Ecosystem

##### In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives:

Some of the popular languages that Data Scientists use are:
+ <font color="Blue">R</font>
+ <font color="red">Python</font>
+ <font color="Green">SQL</font>

Some of the popular languages that Data Scientists use are:

1. **R**
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. **Pandas (Python)**
2. Numpy (Python)
3. Matplotlib (Python)

Data Science Tools

| <font color="Blue">**TOOL**</font> |
| :---: |
| Jupyter Notebook |
| RStudio |
| MySQL |

### Below are a few examples of evaluating arithmetic expressions in Python

*This a simple arithmetic expression to mutiply then add integers*

In [1]:
x = (3*4)+5
print(x)

17

*This will convert 200 minutes to hours by diving by 60*

In [2]:
y = 200
m = 60
w = 200//60
z = y - (m*w)
print("This will convert",y,"minutes to",w,"hours and",z,"minutes by diving by",m)

This will convert 200 minutes to 3 hours and 20 minutes by diving by 60

## Author
Hsieh Jui Wen